.twitter-nav {
  background-color: #00aaf8;
  text-align: center;
  display: block;
}

i {
  margin-right: 5px;
}

.search-bar {
  border-radius: 20px;
  background-color: #fafafa;
}

.search-component {
  border-bottom: 1px solid #e5e5e5;
  padding: 0 1rem;
}

input[type='text'] {
  padding-left: 15px;
  font-size: 1.2em;
  letter-spacing: 0.5px;
  outline: none;
}

.form {
  display: flex;
}

.btn {
  width: 100px;
  margin-left: 10px;
  border-radius: 20px;
  background-color: #00aaf8;
}

.avatar {
  padding-right: 10px;
}

h4 {
  display: inline-block;
  padding-right: 5px;
}

span {
  font-size: 12px;
}

.tweets-card {
  display: flex;
}

.retweet-card {
  display: flex;
}

.retweet-info {
  display: block;
}

.load-more {
  display: block;
  margin: 1rem auto;
  background-color: #00a2ed;
  border: none;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  color: #fff;
}
